
<div class="contact-us">
    <div class="contact-content">
        <h4>Contact us</h4>
        <div class="contact-info">
            <p>Email: <a href="mailto:sahilshaik0809&#64;gmail.com">sahilshaik0809&#64;gmail.com</a></p>
            <p>Phone: +91 9398169036</p>
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/sahil-shaik-78a189263/" class="social-icon">LinkedIn</a>
            <a href="https://github.com/sahilsk24" class="social-icon">Git Hub</a>
            <a href="https://www.instagram.com/sahil_shaik_2/" class="social-icon">Instagram</a>
        </div>
    </div>
    <div class="footer-info">
       
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">FAQ</a>
        </div>
    </div>
</div>

